*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#container{
    min-height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #393939;
}

#container #title-container{
    text-align: center;
    margin-bottom: 30px;
}

#container #user-number{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: #393939;
    border-width: 3px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

/* ! Remove the up and down arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#container #submit{
    width: 300px;
    height: 40px;
    border: none;
    background-color: #393939;
    border-radius: 5px;
    color: #f1f1f1;
    font-weight: 500;
    cursor: pointer;
}

#container #submit:hover{
    background-color: #494949;
}